{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'assets/css/new.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="single-product">
            <div class="row">
                <div class="col-6">
                    <div class="product-image">
                        <div class="product-image-main">
                            <img src="{{ product.product_image_1.url }}" alt="" id="product-main-image">
                        </div>
                        <div class="product-image-slider">
                                <img src="{{ product.product_image_1.url }}" alt="" class="image-list">
                                <img src="{{ product.product_image_2.url }}" alt="" class="image-list">
                                <img src="{{ product.product_image_3.url }}" alt="" class="image-list">
                                <img src="{{ product.product_image_4.url }}" alt="" class="image-list">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="product-title">
                            <h2>{{ product.product_name }}</h2>
                        </div>
                        <div class="product-price">
                            <span class="offer-price">${{ product.product_sell_price }}</span>
                        </div>
                        <div class="product-details">
                            <h3>Description</h3>
                            <p>{{ product.product_description }}</p>
                        </div>
                        <span class="divider"></span>
                        <div class="product-btn-group">
                            <div class="button buy-now"><i class='bx bxs-zap'></i> Buy Now</div>
                            <div class="button add-cart"><i class='bx bxs-cart'></i> Add to Cart</div>
                            <a href="{% url 'home' user.id %}">
                                <div class="button"><i class='bx'></i> go Back</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/new.js' %}"></script>
</body>
</html>
